@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="boilerplate" ng-controller="siteController as siteCtrl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="windowTitle"></title>
    @Styles.Render("~/Content/core")
</head>
<body ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag))" ng-cloak layout="column">
    <!-- Header View -->
    <section class="hero is-info is-medium">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="http://pluspng.com/img-png/one-piece-png-op-funi-logo-png-900.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a ui-sref="dashboard"
                               ui-sref-active="is-active"
                               class="navbar-item">
                                Home
                            </a>
                            <a ui-sref="nakama"
                               ui-sref-active="is-active"
                               class="navbar-item">
                                Nakama!
                            </a>
                            <span class="navbar-item">
                                <a href="https://github.com/Bigbudddo/angular-mvc-boilerplate"
                                   target="_blank"
                                   class="button is-info is-inverted">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>Download</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    AngularMVC
                </h1>
                <h2 class="subtitle">
                    A boilerplate for creating AngularJS apps using the C# .NET Framework
                </h2>
            </div>
        </div>
    </section>

    <!-- Contents View -->
    <ui-view layout="column" flex></ui-view>

    <!-- Page Footer - To Persist Across all Pages -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Boilerplate by <a href="http://www.stuart-harrison.com">Stuart Harrison</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Styled using <a href="https://bulma.io/">Bulma.IO</a>
            </p>
        </div>
    </footer>

    <!-- Scripts Definition -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    @Scripts.Render("~/Scripts/core", "~/App/main")
</body>
</html>
